
</div>
<script src="/javascripts/jquery.swipebox.min.js"></script> 
<script type="text/javascript">
    jQuery(function($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- //Swipe-Box-JavaScript -->

<!-- Scrolling Nav JavaScript --> 
<script src="/javascripts/scrolling-nav.js"></script>  
<!-- //fixed-scroll-nav-js --> 

<script src="/javascripts/index.js"></script><!-- skills bars JS FILE-->

<!-- animation effects-js files-->
<script src="/javascripts/aos.js"></script><!-- //animation effects-js-->
<script src="/javascripts/aos1.js"></script><!-- //animation effects-js-->
</body>
</html>