
</div>
<script src="/javascripts/jquery.swipebox.min.js"></script> 
<script type="text/javascript">
    jQuery(function($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- //Swipe-Box-JavaScript -->
<!-- Gallery-Tab-JavaScript -->
<script src="/javascripts/cbpFWTabs.js"></script>
<script>
    (function() {
        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
        });
    })();
</script>
<!-- //Gallery-Tab-JavaScript -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
<!-- Scrolling Nav JavaScript --> 
<script src="/javascripts/scrolling-nav.js"></script>  
<!-- //fixed-scroll-nav-js --> 

<script src="/javascripts/index.js"></script><!-- skills bars JS FILE-->

<!-- animation effects-js files-->
<script src="/javascripts/aos.js"></script><!-- //animation effects-js-->
<script src="/javascripts/aos1.js"></script><!-- //animation effects-js-->
</body>
</html>