<%- include header %>
<div class="banner" id="home">
    <div class="agileinfo-dot">
            <div class="container">
                <div class="w3_banner_info">
                    <div class="w3_banner_info_grid">
                        <h2 data-aos="fade-right">你好 </h2>
                        <h2 data-aos="fade-right">胡一航</h2>
                        <h5>摄影爱好者</h5>
                        <p>一个谜之男子</p>
                        <ul data-aos="slide-up">
                            <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Know More</a></li>
                        </ul>
                    </div>
                </div>
                <div class="thim-click-to-bottom">
                    <a href="#about" class="scroll">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
    </div>
</div>
        <div class="portfolio" id="portfolio">
            <h3 data-aos="zoom-in" >图片记录</h3>
    
            <div class="tabs tabs-style-bar">
                <nav>
                    <ul>
                        <li><a href="#section-bar-1" class="icon icon-box"><span>Web Design</span></a></li>
                        <li><a href="#section-bar-2" class="icon icon-display"><span>Mobile Apps</span></a></li>
                        <li><a href="#section-bar-3" class="icon icon-upload"><span>UI/UX Design</span></a></li>
                        <li><a href="#section-bar-4" class="icon icon-tools"><span>Graphic Design</span></a></li>
                    </ul>
                </nav>
    
                <div class="content-wrap">
    
                    <!-- Tab-1 -->
                    <section id="section-bar-1" class="agileits w3layouts">
                        <h4>Web Design</h4>
                        <div class="gallery-grids">
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f1.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f1.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f2.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f2.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f3.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f3.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f4.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f4.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f5.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f5.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f6.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f6.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f7.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f7.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f8.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f8.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/f9.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/f9.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Web Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                    <!-- //Tab-1 -->
    
                    <!-- Tab-2 -->
                    <section id="section-bar-2" class="agileits w3layouts">
                        <h4>Mobile Apps</h4>
                        <div class="gallery-grids">
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p1.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p1.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p2.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p2.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p3.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p3.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p4.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p4.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p5.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src=/"images/p5.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href=/"images/p6.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p6.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/9.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/9.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/6.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/6.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/7.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/7.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Mobile Apps</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                    <!-- //Tab-2 -->
    
                    <!-- Tab-3 -->
                    <section id="section-bar-3" class="agileits w3layouts">
                        <h4>UI/UX Design</h4>
                        <div class="gallery-grids">
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p1.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p1.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p2.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p2.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p3.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p3.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p4.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p4.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p5.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p5.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                    <a href="/images/p6.jpg" class="swipebox">
                                        <figure class="effect-bubba">
                                            <img src="/images/p6.jpg" alt="" class="img-responsive">
                                            <figcaption>
                                            <h4>UI/UX Design</h4>
                                            </figcaption>
                                        </figure>
                                    </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p7.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p7.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p8.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p8.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="/images/p9.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="/images/p9.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>UI/UX Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                    <!-- //Tab-3 -->
    
                    <!-- Tab-4 -->
                    <section id="section-bar-4" class="agileits w3layouts">
                        <h4>Graphic Design</h4>
                        <div class="gallery-grids">
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/s1.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/s1.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p11.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p11.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p12.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p12.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p13.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p13.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p5.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p5.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p6.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p6.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p7.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p7.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p8.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p8.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="images/p9.jpg" class="swipebox">
                                    <figure class="effect-bubba">
                                        <img src="images/p9.jpg" alt="" class="img-responsive">
                                        <figcaption>
                                            <h4>Graphic Design</h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                    <!-- //Tab-4 -->
                    
                </div><!-- //Content -->
            </div><!-- //Tabs -->
    </div>
    <!-- //Portfolio -->
<%- include footer %>